html {
  box-sizing: border-box;
  font-size: 18px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

form {
  width: 320px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  width: 100%;
}

label > span {
  font-size: 0.8rem;
}

input:not(input[type='file']) {
  height: 35px;
}

button {
  cursor: pointer;
}

.avatar--label {
  height: 150px;
  width: 150px;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  background-color: aliceblue;
  align-items: center;
  justify-content: center;
  position: relative;
}

.avatar--label > img {
  border: none;
  left: 0;
  right: 0;
}

.avatar--label > input {
  visibility: hidden;
  position: absolute;
}
