html {
  box-sizing: border-box;
  font-size: 18px;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #232323;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.notes--ul {
  list-style: none;
  padding: 8px;
  display: flex;
  background-color: #fafafa;
  border-radius: 16px;
}

.note--li {
  border: 1px solid #232323;
  border-radius: 50%;
  margin: 4px;
  background-color: var(--color);
}

.note--btn {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  height: 75px;
  width: 75px;
  background-color: transparent;
  border: none;
  border-radius: inherit;
}

.active {
  box-shadow: 0 0 6px 4px var(--color);
}

.note--li:nth-child(7n + 1) {
  --color: rgba(255, 75, 100, 0.5);
}

.note--li:nth-child(7n + 2) {
  --color: rgba(255, 150, 100, 0.5);
}

.note--li:nth-child(7n + 3) {
  --color: rgba(255, 250, 100, 0.5);
}

.note--li:nth-child(7n + 4) {
  --color: rgba(1, 200, 100, 0.5);
}

.note--li:nth-child(7n + 5) {
  --color: rgba(1, 150, 255, 0.5);
}

.note--li:nth-child(7n + 6) {
  --color: rgba(50, 100, 255, 0.5);
}

.note--li:nth-child(7n + 7) {
  --color: rgba(200, 40, 255, 0.5);
}
