:root {
  --purple: #4a4873;
  --orange: #f29e6d;
  --light-blue: #a7ddf2;

  --red: #f26463;
  --blue: #24748f;
  --yellow: #f1dd6d;
  --white: #fafafa;
  --black: #2a2a2a;
  --error: var(--red);

  --padding: 16px;
  --input-border-width: 3px;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--blue);
  color: var(--black);
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

hr {
  height: 1px;
  margin: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.25);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: var(--input-border-width) solid var(--blue);
  border-radius: 2px;
  outline: none;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.calc-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--padding);
  position: relative;
  margin: auto;
  width: 375px;
  background-color: var(--yellow);
  border: 10px solid var(--black);
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.45);
}

.calc-header,
.pickers,
.calc-body,
.column,
.row,
.label,
.calc-footer,
.total-label {
  display: flex;
  align-items: center;
}

.calc-header {
  justify-content: center;
  height: 75px;
  padding: var(--padding);
  background-color: var(--black);
  color: var(--white);
}

.calc-header > span {
  font-size: 1em;
}

.pickers {
  flex-grow: 0.5;
  justify-content: space-around;
}

.picker-label,
.picker {
  cursor: pointer;
}

.error-box {
  display: none;
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  width: 100%;
  color: var(--white);
  background-color: var(--error);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.45);
  align-items: center;
  justify-content: center;
}

.column-headings {
  display: flex;
  font-weight: bold;
  text-transform: uppercase;
}

.column-heading {
  flex-grow: 1;
  text-align: center;
}

.calc-body {
  justify-content: space-evenly;
  gap: var(--padding);
}

.column {
  width: 40%;
  flex-direction: column;
  gap: 8px;
}

.row {
  width: 100%;
  height: 35px;
  margin: 8px 0;
}

.bills-row::before {
  content: '$';
  margin-bottom: var(--input-border-width);
}

.label {
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.denomination {
  flex: 1 0 27px;
  margin-bottom: var(--input-border-width);
}

.quantity-item {
  display: none;
  font-size: 0.85em;
  flex: 1 0 25px;
  text-align: center;
}

.quantity-total {
  flex: 2 0 35px;
  display: none;
  text-align: left;
}

.input {
  width: 35px;
  flex: 1 1 50px;
}

.total-label {
  justify-content: space-between;
  width: 100%;
  margin: 16px 0;
  flex-grow: 1;
}

.total-field {
  width: 35px;
  flex: 0.7 0 35px;
}

.grand-total-wrapper {
  padding: var(--padding);
}

.calc-footer {
  height: 75px;
}

.reset-button {
  cursor: pointer;
  height: 100%;
  width: 100%;
  background-color: var(--black);
  border: none;
  text-transform: uppercase;
  color: var(--yellow);
  font-weight: bold;
  outline: none;
  transition: all 250ms ease;
  box-shadow: none;
}

.reset-button:hover {
  background-color: var(--blue);
  transition: all 250ms ease;
  box-shadow: 0px -3px 5px 2px rgb(0 0 0 / 25%);
}

.reset-button:active {
  opacity: 0.8;
  transition: all 250ms ease;
}

.reset-button:focus-visible {
  background-color: var(--blue);
  transition: all 250ms ease;
  box-shadow: 0px -3px 5px 2px rgb(0 0 0 / 25%);
}

.invalid-input {
  border-bottom: var(--input-border-width) solid var(--error);
}

.invalid-input-animation {
  animation: shake-horizontal 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes shake-horizontal {
  /* ----------------------------------------------
 * Generated by Animista on 2019-8-10 12:44:14
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}
